<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ThinhKhaiConnection" connectionString="Data Source=Raysaldo-PC;Initial Catalog=ThinhKhaiData;Integrated Security=SSPI;"/>-->
    <add name="ThinhKhaiConnection" connectionString="Data Source=Raysaldo-PC;Initial Catalog=TKTEST;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>